body {
	background-color: #E8EAEA;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	padding-top: 0;
}

.header {
	padding-top: 30px;
	text-align: center;
	padding-bottom: 30px;
	background-color: #fff;
}

.main {
	margin-top:15px;
}

.text-primary {
  color: #071689!important;
}

h1.titulo {
	font-family: 'Archivo Narrow', sans-serif;
	border-top: solid 8px #E8EAEA;
	border-bottom: solid 8px #E8EAEA;
	background-color: #071689;/*0054A4*/
	text-align: center;
	color: #fff;
	margin:0;
	font-size: 26px;
	text-transform: uppercase;
	padding-top: 13px;
	padding-bottom: 13px;
}

h4.titulo {
	font-size: 20px;
	color: #071689;/*0054A4*/
	text-transform: uppercase;
}

.contenido {
	background-color: #d3d7d8;
	padding-bottom: 18px;
	margin: 0 auto 40px auto;
}

.contenido-full {
	max-width: 100%;
}

.blue-title {
	color: #0054a4;
}

.minus-border {
	margin-bottom: 10px;
}

.btn-success-mineco {
	background-color: #00a450;
	color: #fff;
}

.btn-danger-mineco {
	background-color: #a40002;
	color: #fff;
}

.navbar-default {
	background: #fff;
}

.table-white,
.table-white tr,
.table-white td {
    background-color: white !important;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.huge {
    font-size: 40px;
}

.landing-title {
	background-color: #071689; 
	color: #fff
}

.main-margin {
	margin-bottom:150px;
}